@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

.navContainer {
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}

.userName {
  font-family: "Press Start 2P", cursive;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.button {
  background-color: #a0ff03;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.statsContainer {
  flex: 1;
  background-color: #000;
  color: #a0ff03;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #a0ff03;
  height: 400px;
}

.gifContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gifWrapper {
  width: 250px;
  height: 250px;
  position: relative;
}

.gif {
  max-width: 100%;
  height: auto;
}

.estadoContainer {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
}

.buttonsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #a0ff03;
}

.actionButton {
  width: 150px;
  height: 50px;
  background-color: #a0ff03;
  color: #000;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #8bcc03;
}

.buttonPanel {
  background-color: #a0ff03;
  color: #000;
  font-size: 18px;
  margin-top: 20px;
}

.modal {
  text-align: center;
}

.buttonmodal {
  margin: 10px;
  background-color: #a0ff03;
  color: #000;
}
