@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

.navContainer {
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}

.buttonPrincipio {
  margin-left: 3%;
}
.buttonBoot {
  object-fit: cover;
  font-family: "Press Start 2P", cursive;
  background-color: #a0ff03;
  color: black;
  border: none;
  font-size: 15px;
  flex: 1;
}
.userName {
  font-family: "Press Start 2P", cursive;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
}

.button {
  background-color: #a0ff03;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContainer {
  font-family: "Press Start 2P", cursive;
  display: flex;
  width: 97vw;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding: 0 20px;
  margin: 5% 0 0 0;
}

.statsContainer {
  width: 25%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a0ff03;
  font-weight: bold;
  text-align: center;
}

.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gifWrapper {
  width: 300px;
  height: 300px
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stateContainer {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 1% 0 1% 0;
  padding: 10px 20px;
}

.statItem {
  font-family: "Press Start 2P", cursive;
  font-size: 11px;
}

.tag {
  background-color: #a0ff03;
  font-size: 18px;
  object-fit: cover;
  font-family: "Press Start 2P", cursive;
  width: auto;
  padding: 15px 30px;
}

.buttonsContainer {
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  margin-top: 20%;
}

.actionButton {
  object-fit: cover;
  font-family: "Press Start 2P", cursive;
  background-color: #a0ff03;
  border: none;
  font-size: 18px;
  padding: 25px 75px;
  width: 300px;
  flex: 1;
}

.dropdownButton .ant-dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #a0ff03; 
  justify-content: center;
  align-items: center;
}

.panelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.buttonPanel {
  font-family: "Press Start 2P", cursive;
  width: auto;
  display: flex;
  background-color: #a0ff03;
}

.modal {
  font-family: "Press Start 2P", cursive;
  height: auto;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.buttonmodal {
  font-family: "Press Start 2P", cursive;
  width: 100%;
  display: flex;
  background-color: #a0ff03;
  margin-top: 10%;
  margin-bottom: 20%;
}

.modal .ant-modal-content {
  background-color: #311D4F;
}

.modal .ant-modal-header {
  color: #a0ff03;
  justify-content: center;
  align-items: center;
  background-color: #311D4F;
}

.modal .ant-modal-close-x {
color: #a0ff03;
}

.modal .ant-btn-primary {
  font-family: "Press Start 2P", cursive;
  background-color: #a0ff03;
  color: rgb(0, 0, 0); 
  font-size: 15px;
}

.modal .ant-btn-default {
  font-family: "Press Start 2P", cursive;
  color: #000000;
  font-size: 15px;
  margin-bottom: 8%;
}

#chart-container {
  width: 80%; 
  margin: 0 auto; 
}
